<div class="row">
    <div class="col-xs-12">
        <img 
        [src]="selectedRecipie.imagePath" 
        alt="" 
        srcset=""
        class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedRecipie.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
                Manange recipie <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">Add Ingridients to Shopping List</a></li>
                <li ><a style="cursor: pointer;" (click)="onEditRecipie()">Edit Recipie</a></li>
                <li><a style="cursor: pointer;" (click)="onDeleteRecipie()">Delete Recipie</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{selectedRecipie.description}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item"
                *ngFor="let ingredient of selectedRecipie.ingredients">
                {{ingredient.name}} - ({{ingredient.amount}})
                </li>
            </ul>
        </div>
    </div>
</div>